.footer {
    background: black;
    width: 100vw;
    min-height: 30vh;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem 2rem;
}

.footer h1 {
    font-size: 0.8rem;
}

@media(min-width: 768px){
    .footer {
        flex-direction: row;
        align-items: center;
        padding: 2rem 0;
    }
}