.nav {
    background: white;
    padding: 0.8rem 0;
}

.nav h1 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    cursor: pointer;
}

@media(min-width: 768px) {
    .nav h1 {
        font-size: 1.5rem;
    }
}