.projects {
    width: 100vw;
    min-height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    box-sizing: border-box;
}

.projects h1 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 25px;
    margin-bottom: 2rem;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.slide-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 50%;
}

.logo {
    width: 50%;
    height: 50%;
}

.logo-img {
    width: 50%;
    height: 50%;
}

@media (min-width: 491px) {
    
    .projects h1 {
        font-size: 1.7rem;
    }
}

@media (min-width: 768px) {
    
    .projects h1 {
        font-size: 2rem;
    }
}


